{
    "CoinBuyer": {
        "BINANCE_API_KEY": "xx",
        "BINANCE_API_SECRET": "xx",
        "TELEGRAM_TOKEN": "xx",
        "TELEGRAM_CHAT_ID": "xx",
        "CONFIG_TABLE": "coin-analysis-config",
        "TRADES_TABLE": "coin-analysis-trades"
    },
    "CoinSeller": {
        "BINANCE_API_KEY": "xx",
        "BINANCE_API_SECRET": "xx",
        "TELEGRAM_TOKEN": "xx",
        "TELEGRAM_CHAT_ID": "xx",
        "CONFIG_TABLE": "coin-analysis-config",
        "TRADES_TABLE": "coin-analysis-trades"
    },
    "ClearDynamoTable": {
        "BINANCE_API_KEY": "xx",
        "BINANCE_API_SECRET": "xx",
        "TELEGRAM_TOKEN": "xx",
        "TELEGRAM_CHAT_ID": "xx",
        "CONFIG_TABLE": "coin-analysis-config",
        "TRADES_TABLE": "coin-analysis-trades"
    },
    "RunSimulation": {
        "BINANCE_API_KEY": "xx",
        "BINANCE_API_SECRET": "xx",
        "TELEGRAM_TOKEN": "xx",
        "TELEGRAM_CHAT_ID": "xx",
        "CONFIG_TABLE": "coin-analysis-config",
        "TRADES_TABLE": "coin-analysis-trades"
    }
}